$dark-bg: #181818;
$blue: #00a3b9;
$text: #dffcff;

html {
  height: 100%;
}

body {
  font-family: Roboto, Arial, "Noto Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  background-color: $dark-bg;
  color: $text;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;

  &::after {
    content: "";
    display: block;
    height: 100px;
  }
}

h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

//|| Title
.title-container {
  position: relative;
  width: 100%;
  height: 100vh;
  // height: calc(100vh - 5rem);

  .title,
  .title-deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .title-deco {
    z-index: 2;
    background-color: $dark-bg;

    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
  .title {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $blue;

    .title-text {
      position: absolute;
      top: 40%;
      left: 25%;
      transform: translate(-50%, -50%);

      text-align: center;
    }

    .title-extra {
      z-index: 3;
      position: absolute;
      top: 50%;
      left: 65%;

      font-size: 2rem;
      // ul {
      //   list-style: none;
      // }
    }
  }
}

//|| Footer
footer {
  text-align: center;
  margin-top: 5rem;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  //Style
  background-color: darken($dark-bg, 5%);
  color: $blue;
  padding: 5px 0 5px 0;

  .particle-footer {
    position: relative;
    top: -90px;
  }

  .footer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//|| Navbar
.nav-bar {
  background-color: $blue;

  display: flex;
  justify-content: center;

  padding: 0.7rem 0;

  transition: 0.3s ease-out;
  box-shadow: 0px 0px 0px 0px darken($blue, 70%);
  position: sticky !important;
  top: 0;
  z-index: 10;

  &:hover {
    box-shadow: 0px 3px 5px 0px darken($blue, 70%);
  }

  .nav-link {
    margin: 2rem 0.5rem;
    transition: 0.3s;
    padding: 0.4rem 0;

    box-shadow: inset 0px 0px 0px 0px $text;
    &:hover {
      box-shadow: inset 0px -5px 0px 0px $text;
    }

    &.active {
      box-shadow: inset 0px 0px 0px 0px $dark-bg;
    }
  }
}

.forst-bg {
  background: none !important;
  backdrop-filter: blur(3px);
  &::after {
    position: absolute;
    z-index: -1;

    top: auto;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: $blue;
    opacity: 0.2;
    content: "";
  }
}

//|| Scroll Hint
.scroll-hint {
  z-index: 4;
  position: absolute;

  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .icon {
    display: inline-block;
    text-align: center;
    width: 1.5rem;
  }
}

//|| Article
.article {
  background-color: #0d0d0d;

  display: flex;
  justify-content: flex-start;

  padding: 2rem 3rem;
  margin: 0 2rem 3rem 2rem;

  .article-img {
    height: 12rem;
    width: 12rem;

    margin: 0 0.5rem 0 0;
    padding: 0.5rem;
    // border: 1px solid $text;

    img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

//|| Small Classes
.spacer {
  margin-bottom: 3rem;
}

.remove-link-style,
.nav-link {
  color: inherit;
  text-decoration: inherit;
}

.gradiant-fade {
  height: 450px;
  width: 450px;
  background: #00a3b9;
  background: linear-gradient(
    to bottom,
    rgba(0, 163, 185, 1) 0%,
    rgba(0, 163, 185, 1) 25%,
    rgba(223, 252, 255, 1) 50%,
    rgba(223, 252, 255, 1) 60%,
    rgba(223, 252, 255, 0) 100%
  );
  background-size: 400% 400%;

  mask-position: center;
  mask-repeat: no-repeat;

  animation-name: gradiantFadeAni;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  @keyframes gradiantFadeAni {
    from {
      opacity: 0;
      background-position: 50% 100%;
    }
    20% {
      opacity: 1;
    }
    to {
      opacity: 1;
      background-position: 50% 0%;
    }
  }
}
