$text: #dffcff;
$dark-bg: #181818;
$blue: #00a3b9;

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;

  &::after {
    content: "";
    display: block;
    height: 100px;
  }
}

/*Home*/

.headerRow {
  // background-color: #464646;
  border-color: #00a3b9 #a6a6a6 #00a3b9 #a6a6a6;
  border-style: solid;
  border-width: 0 0 5px 0;
  text-align: center;
}

.particleCol {
  background-color: #464646;
  border-color: #00a3b9 #a6a6a6 #00a3b9 #a6a6a6;
  border-style: solid;
  border-width: 5px 0 5px 0;
  overflow: hidden;
  height: 200px;

  @media only screen and (max-width: 768px) {
    height: 430px;
  }
}

.particelText {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 0;
  width: 100%;

  & h1 {
    font-size: 100px;
  }
}

.paralaxImage {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;

  // @media only screen and (max-width: 1760px) {
  //   background-attachment: scroll;
  // }
}

/*Home Section*/

.homeSection {
  background-color: #0d0d0d;
  padding: 4px 10px 4px 10px;
  // background-image: linear-gradient(#0d0d0d, #00a3b9);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.8);
  transition: 0.3s ease-out;

  &:hover,
  &:hover img {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
  }

  color: $text;
}

.fade-in {
  opacity: 0;
  &.faded {
    // animation: fade-reveal 1s ease-out 0 1 normal both;
    animation-name: fade-reveal;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: forwards;
  }
  @keyframes fade-reveal {
    from {
      opacity: 0;
      transform: translate(-100%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
}

.fade-image {
  transform: translate(0, -25%);
  opacity: 0;
  position: relative;
}

.fade-image-animate {
  animation-name: fade-image-ani;
  animation-duration: 1.5s;
  animation-delay: 800ms;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: forwards;
}

@keyframes fade-image-ani {
  from {
    transform: translate(0, -25%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0%);
    opacity: 1;
  }
}

.sectionImage {
  height: 400px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8);
  // width: 100%;
}

.section {
  border-color: $text;
  border-style: solid;
  border-width: 1px 0 0 0;
  padding-top: 3px;
}

/*Footer*/

.particle-footer {
  position: relative;
  top: -90px;
}

.footer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  //Style
  background-color: darken($dark-bg, 5%);
  color: $blue;
  padding: 5px 0 5px 0;
}

/*Misc*/

.removeLinkStyle {
  color: inherit;
  text-decoration: inherit;
}

.linedTitle {
  border-color: #00a3b9 #a6a6a6 #00a3b9 #a6a6a6;
  border-style: solid;
  border-width: 0 0 3px 0;
  text-align: center;
  transition: border-width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover {
    border-width: 0 0 5px 0;
  }
}
.about ul {
  text-align: center;
  list-style-position: inside;
}

ul {
  padding-left: 15px;
}

.gradiant-fade {
  height: 450px;
  width: 450px;
  background: #00a3b9;
  background: linear-gradient(
    to bottom,
    rgba(0, 163, 185, 1) 0%,
    rgba(0, 163, 185, 1) 25%,
    rgba(223, 252, 255, 1) 50%,
    rgba(223, 252, 255, 1) 60%,
    rgba(223, 252, 255, 0) 100%
  );
  background-size: 400% 400%;
  // mask-image: url("/games.svg#Main");
  // mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;

  animation-name: gradiantFadeAni;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes gradiantFadeAni {
  from {
    opacity: 0;
    background-position: 50% 100%;
  }
  20% {
    opacity: 1;
  }
  to {
    opacity: 1;
    background-position: 50% 0%;
  }
}

.form {
  border-style: solid;
  border-color: #464646;
  border-width: 0.1rem;
  border-radius: 8px;
  padding: 10px;
}

// Navbar
.forst-bg {
  background: none !important;
  backdrop-filter: blur(3px);
  &::after {
    position: absolute;
    z-index: -1;

    top: auto;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: $blue;
    opacity: 0.2;
    content: "";
  }
}
