$cyan: #00a3b9;
$black: #0d0d0d;
$gray: #181818;
$white: #ffffff;

$background: $black;
$text: $white;

$easing: cubic-bezier(0.16, 1, 0.3, 1);
$articleBorder: 15rem;

$debug: false;

html {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: $black $white;

  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  background: $black;
}
::-webkit-scrollbar-thumb {
  background: $white;
}

body {
  font-family: "Hack", monospace;

  background-color: $background;
  color: $text;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;

  &::after {
    content: "";
    display: block;
    height: 100px;
  }
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  margin: 0.1rem 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

a {
  color: $cyan;
}

svg {
  .a,
  .c {
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 5px;
  }

  .a {
    stroke: #0d0d0d;
  }

  .b {
    fill: #00a3b9;
  }

  .c {
    stroke: #00a3b9;
  }
}

//|| Title
.title {
  position: relative;
  height: 100vh;
  width: 100vw;
  .logo,
  .links {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .logo {
    #page-logo {
      position: absolute;
      width: 50rem;
      height: 50rem;

      top: 10%;
      left: 10%;
      transform: translate(-50%, -50%) rotate(15deg);

      opacity: 0.2;

      & > polygon {
        stroke: gray;
      }
    }

    h1 {
      position: absolute;
      height: 30rem;
      left: 15%;
      top: calc(5% + 10rem);
    }

    h2 {
      position: absolute;
      height: 30rem;
      left: 15%;
      top: calc(15% + 10rem);
    }
  }

  .links {
    background-color: $gray;

    clip-path: polygon(75% 0, 100% 0%, 100% 100%, 25% 100%);
    overflow: hidden;

    .links-list {
      position: absolute;
      bottom: 25%;
      right: 15%;

      padding: 0.1rem 1.5rem;
      border-right: 1px solid $white;

      a {
        display: block;
        font-size: 2rem;
        color: $white;
        text-decoration: none;

        display: flex;
        justify-content: space-between;

        svg {
          margin-right: 1rem;
          padding-top: 0.5rem;
        }

        span {
          transform: translateX(0%);
          transition: transform 0.3s $easing;
        }
        &:hover {
          span {
            transform: translateX(10%);
          }
        }

        border-bottom: 1px solid $white;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    & > svg {
      position: fixed;
      bottom: -10%;
      right: 10%;
      display: block;
      transform: scale(150%);

      &.svg-fixed {
        position: absolute;
        bottom: -10.5%;
        right: 10.2%;
      }

      #grid-block-1 {
        animation: block-float 60s $easing 10s infinite normal forwards;
      }

      #grid-block-2 {
        animation: block-float 35s $easing 20s infinite normal forwards;
      }

      #grid-block-3 {
        animation: block-float 50s $easing 10s infinite normal forwards;
      }

      @keyframes block-float {
        0% {
          transform: translateY(0%);
        }

        25% {
          transform: translateY(0%);
        }

        50% {
          transform: translateY(-10%);
        }

        75% {
          transform: translateY(-10%);
        }

        100% {
          transform: translateY(0%);
        }
      }
    }
  }
}

//|| Articles
.article {
  position: relative;

  height: 20rem;
  overflow: hidden;

  // margin: 2rem 0;

  .article-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: $black;
    background: linear-gradient(90deg, $black 50%, rgba($black, 0) 100%);

    .content-text {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;

      margin: 0 1rem;
    }
  }

  &.right {
    text-align: right;

    .content {
      background: linear-gradient(-90deg, $black 50%, rgba($black, 0) 100%);

      .content-text {
        left: auto;
        right: 0;
      }
    }
  }
}

// || Links
.links {
  position: relative;

  height: 10rem;
  overflow: hidden;

  // background-color: red;

  .collection {
    display: flex;
    justify-content: center;

    .link-box {
      display: block;
      position: relative;
      width: 10rem;
      height: 5rem;

      overflow: hidden;
      clip-path: polygon(100% 0, 100% 85%, 90% 100%, 0 100%, 0 0);

      margin: 1rem;

      background-color: $white;
      color: $black;
      text-decoration: none;

      svg {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
      }

      p {
        margin: 0;
        padding: 0;

        white-space: nowrap;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
      }

      &,
      p,
      svg {
        transition: 0.5s $easing;
      }

      &:hover {
        transform: scale(1.1);

        background-color: $black;
        color: $white;

        svg {
          transform: scale(2);
          top: 50%;
          opacity: 0.3;
        }

        p {
          bottom: 20%;
        }
      }
    }
  }
}

#about > .article-img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  background-image: url("/images/Seperator.png");
  background-repeat: repeat;
  background-size: 5%;

  opacity: 0.8;
}

//|| Footer
footer {
  text-align: center;
  margin-top: 1rem;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  //Style
  background-color: darken($background, 5%);
  color: $cyan;
  padding: 5px 0 5px 0;

  .particle-footer {
    position: relative;
    top: -90px;
  }

  .footer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
  }
}

//|| Scroll Hint
.scroll-hint {
  z-index: 4;
  position: absolute;

  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  a,
  p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $text;
  }
  .icon {
    display: inline-block;
    text-align: center;
    width: 1.5rem;
  }
}

//|| Small Classes
.spacer {
  margin-bottom: 3rem;
}

.separator {
  width: 100%;
  height: 2rem;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  background-image: url("/images/Seperator.png");
  background-repeat: repeat;
  background-size: 5%;

  opacity: 0.8;
}

.remove-link-style,
.nav-link {
  color: inherit;
  text-decoration: inherit;
}

.button-link {
  display: inline-block;
  text-decoration: none;
  background-color: $cyan;
  color: $text;
  padding: 0.5rem 0.3rem;
  border-radius: 2px;
  margin: 0.3rem 0;

  transition: 0.3s $easing;

  &:hover {
    background-color: lighten($cyan, 10%);
    transform: scale(1.01);
  }
}

.frost-bg {
  background: none !important;
  backdrop-filter: blur(3px);
  &::after {
    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: #96adb0;
    opacity: 0.2;
    content: "";
  }
}

// || Mobile
@media only screen and (max-width: 2000px) {
  @if $debug {
    body {
      background-color: blue;
    }
  }

  h1 {
    font-size: 4rem;
  }

  .title > .links > svg {
    bottom: -30%;
    right: -10%;
    &.svg-fixed {
      bottom: -29.7%;
      right: -9.7%;
    }
  }
}

@media only screen and (max-width: 1500px) {
  @if $debug {
    body {
      background-color: red;
    }
  }

  h1 {
    font-size: 3.5rem;
  }

  .title > .links > svg {
    bottom: -30%;
    right: -37.4%;
    &.svg-fixed {
      bottom: -29.7%;
      right: -36.7%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 800px) {
  @if $debug {
    body {
      background-color: green;
    }
  }

  h1 {
    font-size: 2rem;
  }

  .title > .links {
    .links-list {
      right: 1rem;
    }

    svg {
      bottom: -35%;
      right: -77%;
      &.svg-fixed {
        bottom: -35.7%;
        right: -75.7%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  @if $debug {
    body {
      background-color: pink;
    }
  }

  .title {
    .logo {
      h1 {
        font-size: 5rem;

        top: 0.1rem;
        left: 0.5rem;
      }

      h2 {
        display: none;
      }
    }

    .links {
      clip-path: polygon(0% 45%, 100% 25%, 100% 100%, 0% 100%);

      .links-list {
        width: calc(100% - 3em);
        left: 0;
        border: none;
        margin: 0;

        a {
          text-align: center;
          justify-content: space-around;
        }
      }

      & > svg {
        bottom: -35%;
        right: -100%;
        &.svg-fixed {
          bottom: -35.7%;
          right: -98%;
        }
      }
    }
  }
}
