$dark-bg: #181818;
$blue: #00a3b9;
$text: #dffcff;
$success: $blue;
$primary: $blue;

$font-family-sans-serif: Roboto, Arial, "Noto Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: Roboto, Arial, "Noto Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$body-bg: $dark-bg;
$body-color: $text;

$navbar-dark-color: #fff;
$navbar-dark-hover-color: $dark-bg;
$navbar-dark-active-color: $dark-bg;
$navbar-dark-brand-color: $text;
$navbar-dark-brand-hover-color: $dark-bg;
.navbar {
  transition: 0.3s;
  box-shadow: 0px 0px 0px 0px darken($blue, 70%);
  &:hover {
    box-shadow: 0px 3px 5px 0px darken($blue, 70%);
  }
}
.navbar-brand {
  transition: 0.5s;
}
.nav-link {
  transition: 0.3s;
}

$link-color: darken($text, 30%);
$link-decoration: none;
$link-hover-color: desaturate($blue, 30%);
$link-hover-decoration: underline;

.bg-custom {
  background-color: $blue;
}

$border-width: 3px;
$card-bg: $dark-bg;
$card-color: $text;
$card-spacer-x: 0.25rem;

$dropdown-color: $dark-bg;
$dropdown-bg: lighten($blue, 30%);
$dropdown-border-color: $dark-bg;

//Overwrite Bootstrap
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/alert";
